
@layout.signup.frame("Quick School Info | SignUp Token Confirmation | School Management System"){
  <link href="@routes.Assets.versioned("css/emailTemplate.css")" media="all" rel="stylesheet" type="text/css" />
  <body>
    <table class="body-wrap">
      <tr>
        <td></td>
        <td class="container" width="600">
          <div class="content">
            @helpers._flash.render()
            <table class="main" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td class="content-wrap">
                  <table  cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <img class="img-responsive" src="@routes.Assets.versioned("img/landing/header.jpg")"/>
                      </td>
                    </tr>
                    <tr>
                      <td class="content-block">
                        <h3>Welcome in basic email template</h3>
                        <p>Welcome @*session().get("email")*@ to Quick School Info</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="content-block">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                      </td>
                    </tr>
                    <tr>
                      <td class="content-block">
                        We may need to send you critical information about our service and it is important that we have an accurate email address.
                      </td>
                    </tr>
                    <tr>
                      <td class="content-block aligncenter">
                        @helper.form(action = controllers.routes.HomeCtr.tokenCodeForm(),  'enctype -> "application/x-www-form-urlencoded", 'role -> "from",'class -> "m-t") {
                          <div class="form-group">
                            <input type="text" class="form-control" name="comfirmCode" placeholder="Enter Token Code" required="Can't Be Empty">
                          </div>
                          <button type="submit" class="btn btn-primary block full-width m-b">Continue</button>
                        }
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            </div>
        </td>
        <td></td>
      </tr>
    </table>
}