<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header" style="margin-left: 60px;">
      <img style=" height: 50px; width: auto" src="@routes.Assets.versioned("img/qusilogo1.png")">
        <h3 class="m-r-sm text-muted welcome-message" style="float: right; margin-left: 13px; margin-top: 17px;">Welcome to Quick School Information</h3>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <div class="col-md-4" style="    margin-right: 60px; margin-top: 10px;">
        <a class="btn btn-info"  href="#"><i class="fa fa-question"></i> HELP</a>
      </div>
    </ul>
  </nav>
</div>