@import models.education.fees.StudentFee
@(studentFees: List[StudentFee])
@layout.auth_frame("Payment Fee",scripts, "") {
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Fee Payment</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index-2.html">Fee Payment</a>
                </li>
                <li class="active">
                    <strong>Table And From</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox-title">
                    <h5>Border Table </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover " id="editable" >
                            <thead>
                                <tr>
                                    <th>R/N</th>
                                    <th>Adm..No</th>
                                    <th>Std..Name</th>
                                    <th>Guardian</th>
                                    <th>Std..Details</th>
                                    <th>Fee</th>
                                    <th>Discount</th>
                                    <th>Due</th>
                                    <th>Paid</th>
                                    <th>Balance</th>
                                    @*<th>Modified Date</th>*@
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                               @if(studentFees != null || studentFees.size() != 0){
                                  @for(item <- studentFees){
                                            <tr class="gradeA">
                                            <td>01</td>
                                            <td class="text-center">
                                                @item.admissionNo
                                            </td>
                                            <td class="text-center">
                                                @item.studentName
                                            </td>
                                            <td class="text-center">
                                                @item.gurdianName;
                                            </td>
                                            <td class="text-center">
                                                @item.studentDetails
                                            </td>
                                            <td class="text-center">
                                                    &#8358; @item.feeAmount
                                            </td>
                                            <td class="text-center">
                                                    &#8358; @item.feeDiscount
                                            </td>
                                            <td class="text-center">
                                                    &#8358; @item.dueAmount
                                            </td>
                                            <td class="text-center">
                                                    &#8358; @item.paidAmount
                                            </td>
                                            <td class="text-center">
                                                    &#8358; @item.balanceAmount
                                            </td>
                                            @*<td class="text-center">28/12/2013</td>*@
                                            <td class="text-center">
                                                <a class="btn btn-success" href="@controllers.fees.routes.FeeCtr.studentPayment(item.id)">
                                                    <i class="fa fa-search-plus "></i>
                                                </a>
                                                @*<a class="btn btn-info" data-toggle="modal" data-target="#myModal">
                                                    <i class="fa fa-edit "></i>
                                                </a>*@
                                            </td>
                                            </tr>
                                        }
                                }
                            </tbody>
                            <tr class="gradeA">
                                <td class="text-center">
                                </td>
                                <td class="text-center">
                                </td>
                                <td class="text-center">
                                </td>
                                <td class="text-center">
                                </td>
                                <td class="text-center">Total</td>
                                <td class="text-center">
                                        &#8358; 400,000.00
                                </td>
                                <td class="text-center">
                                        &#8358; 4,000.00
                                </td>
                                <td class="text-center">
                                        &#8358; 340,000.00
                                </td>
                                <td class="text-center">
                                        &#8358; 56,000.00
                                </td>
                                <td class="text-center">
                                        &#8358; 56,000.00
                                </td>
                                <td class="text-center"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@scripts = {
    <script>
       $(document).ready(function() {
                /* Init DataTables */
            var oTable = $('#editable').DataTable();

                /* Apply the jEditable handlers to the table */
            $('.multi-check').multiselect();

            $(".select2_demo_2").select2({
               placeholder: "Select your options from the list",
               allowClear: true
            });

            $('.data_1 .input-group.date').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true,
                    format: "yyyy-mm-dd"
                });

            $('.pick').click(function () {
                    var fee = $('select[name="feeCollection"]').val();
                    if(fee === "Monthly-Wise"){
                        $('.show').show();
                    }
                });

            });
    </script>
}