@layout.auth_frame("Teacher Time Table List",scripts, "") {
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>List OF Teachers (10)</h5>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example">
              <tr>
                <td><a href="#">Mr Olanrewaju Olatunji</a></td>
              </tr>
              <tr>
                <td><a href="#">Mr Fathai Adeola</a></td>
              </tr>
              <tr>
                <td><a href="#">Mrs Kemi Oyedel</a></td>
              </tr>
              <tr>
                <td><a href="#">Mr Akinwumi Ambode</a></td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Teacher,s Name:  Mr Olanrewaju Olatunji (Grade 2 : Jss2a) </h5>
          <p style="float: right;">Department: Science</p>
        </div>
        <div class="ibox-content">

          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example">
              <tr>
                <td>
                  <span class="days">Mon</span>
                </td>
                <td>
                  <div class="col-sm-3 break_box">
                    <div class="break">
                      <strong class="break-label">Assembly</strong>
                      <span class="time-period">09:00 - 10:20</span>
                    </div>
                  </div>
                </td>
                <td>
                  <a class="trigger">
                    <div class="col-sm-3">
                      <span class="time-period">09:00 - 10:20</span>
                      <strong class="subject">Chemestry</strong>
                      <small class="teacher">Olanrewaju Oladimeji</small>
                    </div>
                  </a>
                  <div class="pop-up">
                    <h3>Pop-up div Successfully Displayed</h3>
                    <p>
                      This div only appears when the trigger link is hovered over. Otherwise
                      it is hidden from view.
                    </p>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="title">
                  <span class="days">Tuesday</span>
                </td>
                <td>
                  <div class="col-sm-3 break_box">
                    <div class="break">
                      <strong class="break-label">Assembly</strong>
                      <span class="time-period">09:00 - 10:20</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="title">
                  <span class="days">Wednesday</span>
                </td>
                <td class="time">
                  <div class="col-sm-3 break_box">
                    <div class="break">
                      <strong class="break-label">Assembly</strong>
                      <span class="time-period">09:00 - 10:20</span>
                    </div>
                  </div>
                </td>
                <td class="time">
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td class="time">
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td class="time">
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td class="time">
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td class="time">
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td class="time">
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td class="time">
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="title">
                  <span class="days">Thursday</span>
                </td>
                <td>
                  <div class="col-sm-3 break_box">
                    <div class="break">
                      <strong class="break-label">Assembly</strong>
                      <span class="time-period">09:00 - 10:20</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td">
                <div class="col-sm-3">
                  <span class="time-period">09:00 - 10:20</span>
                  <strong class="subject">Chemestry</strong>
                  <small class="teacher">Olanrewaju Oladimeji</small>
                </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>

              </tr>
              <tr>
                <td class="title">
                  <span class="days">Friday</span>
                </td>
                <td>
                  <div class="col-sm-3 break_box">
                    <div class="break">
                      <strong class="break-label">Assembly</strong>
                      <span class="time-period">09:00 - 10:20</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
                <td>
                  <div class="col-sm-3">
                    <span class="time-period">09:00 - 10:20</span>
                    <strong class="subject">Chemestry</strong>
                    <small class="teacher">Olanrewaju Oladimeji</small>
                  </div>
                </td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
}
@scripts ={

}